<h1>Eat-Da-Burger!</h1>

<ul class="float-left">
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<ul class="float-right">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger devoured devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<div class="container display">
    <form class="row mx-auto create-form">

        <div class="row mx-auto form-group">
            <textarea id="bg" rows="4" cols="40"></textarea>
        </div>
        <div class="container">
            <p>Enter a burger you want to eat and then Click the "Submit" button</p>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>